# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Project specific
.cache/
logs/
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Data files
data/eurusd_1s/EURUSD_ALL.parquet
*.parquet
*.csv

# Model files
models/*
!models/vecnorm.pkl
!models/ppo_1000000.zip
!models/ppo_1000000.zip.equity.pt
*.zip

# Logs
logs/*
!logs/exp_kz_round/PPO_1/events.out.tfevents.1749920579.Threadripper.26268.0 